@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: "IBM Plex Mono", monospace;
  }
  
  
  .container {
    padding: 1rem 2rem;
    width: 100%;
    margin: auto;
    max-width: 1280px;
  }
  
  
  ol,
  ul {
    list-style: none;
  }
  
  
  a {
    text-decoration: none;
  }
  
  
  /* Footer Common Style */
  footer .footer-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  
  footer ul a {
    color: #d4d4d4;
  }
  
  
  footer ul a:hover {
    color: #fff;
  }
  
  