.header,
.footer {
    width: 100%;
    height: auto;
    padding: 1.5rem 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    width: 100%;
    height: auto;
    padding: 5rem 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}